.popup__container {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
  border-radius: 10px;
  color: #000;
  min-width: 282px;
}

@media (min-width: 1280px) {
  .popup__container {
    min-width: 430px;
  }
}
