.header {
  margin: 28px auto 42px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  min-height: 55px;
}

@media (min-width: 1280px) {
  .header {
    margin: 45px auto 40px;
    max-width: calc(100% - 2 * 200px);
    min-height: 73px;
  }
}
