.gallery__card-button {
  all: unset;
  min-width: 22px;
  height: 19px;
  background-image: url(../../../images/Vector.svg);
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: opacity 0.35s ease-in-out;
}

.gallery__card-button:hover {
  opacity: 0.5;
}
