.profile__container {
  margin: 0 38px 12px 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-height: 26px;
  min-width: 217px;
}

@media (min-width: 1280px) {
  .profile__container {
    margin: 0;
    margin-bottom: 16px;
    min-width: fit-content;
    min-height: fit-content;
  }
}
