.profile__container {
  margin: 0 38px 12px 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 217px;
}

@media (min-width: 1280px) {
  .profile__container {
    margin: 0 0 8px 0;
  }
}
