.popup__form-field {
  margin: 0 auto 5px;
  display: flex;
  flex-direction: column;
  width: calc(100% - 2 * 22px);
  box-sizing: border-box;
}

/*.popup__form-field:last-of-type {
  margin-bottom: 28px;
}*/

@media (min-width: 1280px) {
  .popup__form-field {
    width: calc(100% - 2 * 36px);
    /*margin-bottom: 10px;*/
  }

  /* .popup__form-field:last-of-type {
    margin-bottom: 25px;
  }*/
}
