.popup__form-field {
  all: unset;
  margin: 0 auto 30px;
  padding-bottom: 13px;
  min-width: calc(100% - 2 * 22px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  background-color: #fff;
}

.popup__form-field:last-of-type {
  margin-bottom: 45px;
}

@media (min-width: 1280px) {
  .popup__form-field {
    min-width: calc(100% - 2 * 36px);
  }

  .popup__form-field:last-of-type {
    margin-bottom: 48px;
  }
}
