.popup__button_action_close {
  background-image: url(/images/Close\ Icon.svg);
  background-repeat: no-repeat;
  min-width: 20px;
  min-height: 20px;
}

@media (min-width: 1280px) {
  .popup__button_action_close {
    position: absolute;
    background-image: url(/images/btn-cls-d.svg);
    min-width: 32px;
    min-height: 32px;
    margin-right: -40px;
    margin-top: -40px;
  }
}
