.popup__button_action_save {
  background-position: center;
  background-image: url(../../../images/btn-sub-m.svg);
  background-repeat: no-repeat;
  min-width: 282px;
  height: 46px;
  margin-bottom: 25px;
}

@media (min-width: 1280px) {
  .popup__button_action_save {
    background-image: url(../../../images/btn-sub-d.svg);
    height: 50px;
    margin-bottom: 25px;
  }
}
